.head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: calc(100% - 20rem);
    margin-left: 20rem;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    // border-bottom: 1px solid black;
    padding-top: 1rem;    

    .container{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .title{
            display: flex;
            cursor: default; 

            span{
                font-size: 1.2rem;
                font-family: 'Roboto';
                position: relative;
                float: left;
            }
        }

        .buttons{
            flex-grow: 1;
        }
    
        .search{
            display: flex;
            right: 24%;
            width: 20%;
            background-color: #fff;
            border: 1px solid #dbdee1;
            padding: .4rem 1rem;
            border-radius: 1rem;    
    
            i{
                font-size: 0.9rem;
                color: #c4c4c4;
                cursor: pointer;
            }
    
            input {
                width: 100%;
                border: none;
                font-size: 0.9rem;
            }
    
            input:focus {
                outline: none;
            }
        }
    
        .profile{
            left: 92%;
            cursor: pointer;
    
            img{
                margin-top: .4rem;
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%;
            }
        }
    
        .notifications{
            right: 21.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #c4c4c4;   
            cursor: pointer;   
        }
    }


}

@media (max-width: 1600px) {
    .head{
        width: calc(100% - 5rem);
        margin-left: 5rem;
    }
}