<div class="header">
    <span><a href="https://github.com/dougpcorrea" target="_blank">Github</a></span>
    <span><a href="https://www.linkedin.com/in/dougpcorrea/" target="_blank">LinkedIn</a></span>
    <span><a href="https://api.whatsapp.com/send/?phone=5551984925343&text&type=phone_number&app_absent=0" target="_blank">WhatsApp</a></span>
    <span><a href="https://medium.com/@dougcorrea" target="_blank">Medium</a></span>
</div>

<div class="body">
    <h1>Reach your full potential<br>performing with excellence.</h1>
    <h3>A centralized personal development hub leveraging the power of smart algorithms and AI to  empower individuals to unlock their full potential and help them stay organized and achieve their goals effectively.</h3>

    <button [routerLink]="['/tasks']">Check it out</button>
</div>

<div class="display">
    <i class="fas fa-chevron-left fa-2x"></i>
    <img class="application" src="../../assets/app.png">
    <i class="fas fa-chevron-right fa-2x"></i>
</div>


<div class="features">
    <div class="feature">
        <span>Smart To-Do List</span>
        <p>A smart and optimized to-do list that utilizes features like auto date recognition with NLP technology to make task management effortless and efficient.</p>
    </div>
    <div class="feature">
        <span>Insightfull Habit Tracker</span>
        <p>A daily habit tracker with valuable insights into your productivity, progress and habits through data-driven analytics and visualizations.</p>
    </div>
    <div class="feature">
        <span>Optimized Flash Cards System</span>
        <p>A spaced repetition system designed to supercharge your language learning with smart algorithims, maximizing retention and accelerating your progress.</p>
    </div>
    <div class="feature">
        <span>Bookshelf & Audiobook Player</span>
        <p>A reading planner system with recomendations based on user history and preferences, integrated with a complete audiobook player</p>
    </div>
</div>

